<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studentcashbook"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="studentcashbook.Activities.MainActivity"
            android:label="@string/title_activity_main" />
        <activity
            android:name="studentcashbook.Activities.LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="studentcashbook.Activities.NeuerNutzerActivity"
            android:label="@string/title_activity_neuer_nutzer"
            android:parentActivityName="studentcashbook.Activities.LoginActivity" >
        </activity>
        <activity
            android:name="studentcashbook.Activities.EinnahmeActivity"
            android:label="@string/title_activity_einnahme" >
        </activity>
        <activity
            android:name="studentcashbook.Activities.AusgabeActivity"
            android:label="@string/title_activity_ausgabe" >
        </activity>
        <activity
            android:name="studentcashbook.Activities.KategorienActivity"
            android:label="@string/title_activity_kategorien" >
        </activity>
        <activity
            android:name="studentcashbook.Activities.MonatEinnahmeActivity"
            android:label="@string/title_activity_monat_einnahme" 
            android:parentActivityName="studentcashbook.Activities.MonatlichesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.studentcashbook.MonatlichesActivity" />
        </activity>
        <activity
            android:name="studentcashbook.Activities.MonatAusgabeActivity"
            android:label="@string/title_activity_monat_ausgabe" 
            android:parentActivityName="studentcashbook.Activities.MonatlichesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.studentcashbook.MonatlichesActivity" />
        </activity>
        <activity
            android:name="studentcashbook.Activities.SparzielActivity"
            android:label="@string/title_activity_sparziel" >
        </activity>
        <activity
            android:name="studentcashbook.Activities.NeuesSparzielActivity"
            android:label="@string/title_activity_neues_sparziel" >
        </activity>
        <activity
            android:name="studentcashbook.Activities.EinstellungenActivity"
            android:label="@string/title_activity_einstellungen" >
        </activity>
        <activity
            android:name="studentcashbook.Activities.NeueKategorieActivity"
            android:label="@string/title_activity_neue_kategorie"
            android:parentActivityName="studentcashbook.Activities.KategorienActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.studentcashbook.KategorienActivity" />
        </activity>
        <activity
            android:name="studentcashbook.Activities.MonatlichesActivity"
            android:label="@string/title_activity_monatliches" >
        </activity>
    </application>

</manifest>
